.HomePage {
    display: flex;
    justify-content: center;
  
    padding-left: 15rem;

   

  .HomePageContent {
    display: flex;

    padding: 6rem;
    gap: 4rem;
    flex-wrap: wrap;
    margin-inline: auto;

    .homepageVid {
    
      width: max(300px, 15%)
    }
    .vidTitle {
      font-size: 1rem;
      font-weight: 500;
    }
    .videoInfoBox {
      
      display: flex;
      gap: 1rem;
      padding: .5rem;
      
      width: 100%;
      height: 5rem;
      
      a{
        font-size: .8rem;
        font-weight: 500;
      }
    }

    img {
      height: 12rem; 
      border-radius: 12px;
    }

   .viewDate {
    display: flex;
    padding-top: .5rem;
    font-size: .8rem;
   }
   .channelInfo {
    display: flex;
    
 
   }
   .videoChannelImg {
   
    width: 32px;
    height: 32px;
   }
   .thumbnailDuration {
    display: flex;
           
    flex-direction: column;
    position: relative;
   .duration {
    position: absolute;
        bottom: 6%;
        left: 100%;
        font-size: .8rem;
        width: 35px;
        color: white;
        background-color: rgba($color: #000000, $alpha: .6);
   }
  }
  }
}