.searchPage {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    
    .searchResult {
        display: flex;
        flex-direction: column;
        
        width: 50%;
        height: 12rem;
        
        justify-content: center;

        .channelImg{
            height: 150px; 
            border-radius: 205px;
        }

        .videoImg {
            height: 100%;
            border-radius: 15px;
        }
    }

    .test {
        display: flex;
        align-items: center;

        .videoInfo {
            display: flex;
            height: 100%;
            padding: 1rem;
            gap: 1rem;
            flex-direction: column;
            justify-content: flex-start;

            .vidTitle {
              
                font-family: "Roboto","Arial",sans-serif;
                font-size: 1.2rem;
                line-height: 1.6rem;
                font-weight: 400;
                max-height: 5.2rem;
                overflow: hidden;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                white-space: normal;


            }
            .videoInfoBox {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .smallChannelInfo{
                    display: flex;
                    align-items: center;
                }

            .description {
                font-size: .7rem;
            }
                
            .viewDate {
                font-size: .8rem;
                display: flex;
                gap: .8rem;
            }

        }
        
        }
    }
}

.channelInfo {
    display: flex;
    align-items: center;
    gap: 12px;
    .videoChannelImg{
              
        width: 24px;
        border-radius: 100px;
    }

    a {
        font-size: .7rem;
        text-decoration: none;
    }

}