#root {
  width: 100vw;
}
.topBar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: black;
  width: 100%;
  background-color: white;
  justify-content: center;
  align-items: center;
  position: fixed;

  height: 56px;
  z-index: 98;

  .Search {
    display: flex;
    grid-column: 2/4;
    width: 100%;
    justify-content: center;
    align-items: center;

    .video-Search {
      display: flex;
      width: 20%;
      border: none;
      height: 0rem;
      background-color: black;
      color: black;
      transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .video-Search::placeholder {
      color: black;
    }
    form {
      display: flex;
      align-items: center;
      width: 80%;
    }

    .searchIcon {
      display: flex;
      align-items: center;
      height: 2.4rem;
      justify-content: center;
      width: 4rem;
      border: 1px solid rgb(147, 146, 146);
      border-radius: 0px 50px 50px 0px;
      cursor: pointer;
    }
  }

  .hamburgerLogo {
    display: flex;
    padding-left: 2rem;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
  }
  .hamburger {
    color: black;
  }

  .youtubeLogo {
    display: flex;

    font-size: 1.4rem;
    font-weight: 800;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
  }
}

.active {
  background-color: white !important;
  color: black !important;
  width: 100% !important;
  display: flex;
  border: 1px solid rgb(147, 146, 146) !important;
  padding: 0 60px 0 20px;
  height: 2.3rem !important;
  border-radius: 50px 0px 0px 50px;

  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@media screen and (max-width: 900px) {
  .topBar {
    display: flex;
    width: 100% !important;
    left: 0;
    color: white;
    background-color: rgba($color: #000000, $alpha: 1);
    z-index: 99 !important;
    align-items: center;
  }

  form {
    justify-content: end;
  }

  .hamburger {
    display: none;
  }
  .searchIcon {
    border: none !important;
  }
}
